.form{
    background-color: #FFFFFF;
    padding: 25px 10px;
    box-shadow: 5px 0 5px 0 #ccc, -5px 0 5px 0 #ccc;
    border-radius: 10px;
    border-top: 8px solid #F9C745;
    border-bottom: 8px solid #F9C745;
}

.form-btn{
    width: 240px;
    border-radius: 60px;
    color: #3A3A3A;
    font-size: 22px;
    font-weight: 800;
    border: none;
    background-color: #F9C745;
    padding: 0.4rem 2.2rem;
}

.from_title{
    font-weight: 900;
    color: #3A3A3A;
  }
  