.title_img{
    max-width: 150px;
}

.design_img{
    max-width: 165px;
    border-radius: 24px;
}

.Kalam_txt{
   font-family: "Kalam", cursive;
   font-weight: 800;
   font-style: normal;
   color: #3A3A3A; 
}

@media screen and (min-width: 768px) {
    .title_img{
        max-width: 250px;
    }
    .design_img{
        max-width: 300px;
    }
}
